<p class="caption"><span class="caption-text">LINKS</span></p>
<ul>
  <li class="toctree-l1"><a href=''>Team members</a>
    <ul>
      <li class="toctree-l2"><a href="{{ site.site_url | relative_url}}/team/asha">Asha Pradhan</a></li>
      <li class="toctree-l2"><a href="{{ site.site_url | absolute_url}}/team/krishna">Krishna Teja Malladi, Ph.D.</a></li>
      <li class="toctree-l2"><a href="{{ site.site_url | absolute_url}}/team/liam">Liam Y. Hsieh, Ph.D.</a></li>
    </ul>
  </li>

    <li class="toctree-l1"><a href=''>Document</a>
      <ul>
        <li class="toctree-l2"><a href="https://intel-sandbox.github.io/wafer-cost-beta/">Wafer Cost Calculaton</a></li>
        <li class="toctree-l2"><a href="">Solvers</a></li>
      </ul>
    </li>

    <li class="toctree-l1"><a href=''>Prototype</a>
      <ul>
        <li class="toctree-l2"><a href="https://fm-od-or01:8080/" target="_blank">Live DEMO</a></li>
        <li class="toctree-l2"><a href="http://fm-od-or01:8000/" target="_blank">Proof-of-Concept</a></li>
      </ul>
    </li>
</ul>

